.scheduleContainer {
  padding: 20px 40px;
  background: #ffffff;
  border-radius: 20px;
  max-width: 48rem;
  height: 24rem;
  width: 48%;
}

.scheduleHeader {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.selectText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--light-gray);
}

.selectIcon {
  margin-left: 6px;
}

.schedule {
  display: flex;
  margin-top: 2.5rem;
}

.scheduleDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 7px;
  height: 66px;
  margin-right: 8px;
}

.barGreen {
  background: #9bdd7c;
}

.barBlue {
  background: #6972c3;
}

.scheduleTitle {
  font-weight: 700;
  font-size: 1.4rem;
  color: #666666;
}

.scheduleTime {
  font-size: 1.2rem;
  color: #999999;
}

.scheduleVenue {
  font-size: 1.2rem;
  color: #999999;
}
